{
  "mongo_dsn": "mongodb://localhost:27017/convoy?rs=localhost",
  "db_name": "test",
  "redis_dsn": "redis://localhost:6379/1",
  "port": 4400,
  "relations": [
    {
      "parent": {
        "name": "users",
        "pk": "uid"
      },
      "children": [
        {
          "name": "wallets",
          "fk": "user_id"
        },
        {
          "name": "transactions",
          "fk": "sender_id"
        }
      ],
      "on": "replace",
      "do": "soft_delete"
    }
  ]
}
